@import url(https://fonts.googleapis.com/css?family=Lato);
html, body, p, ul, div, form, input, select, section, nav, header, footer {
	margin:0;
}
body {
	padding:0;
    color:#315379;
    background:#fff;
	font-family:    Arial, Helvetica, sans-serif;
   -webkit-appearance:none;
   -moz-appearance:none;
    -webkit-transition:all 1s;
    overflow-x:hidden;
}
a {
	text-decoration:none;
	outline:none;
	color:#FFFFFF;
}
a img {
	outline:none;
	border:none;
}
th {
	font-weight:normal;
}
p {
    font-size: 22px;
    line-height: 24px;
    padding: 9px 25px;
    text-align: center;
}
ul {
	padding:0;
	list-style:none;
	margin:0;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	font-weight:normal; 
}
input, select {
	border:1px solid #d1d1d1;
	color:#666;
	height:26px;
	line-height:26px;
}
select {
    background: url(../images/site/s-arrow.png) no-repeat 95% #fff;
    -webkit-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff url('../images/site/s-arrow.png') no-repeat 95%;
    text-indent: 0.01px;
    text-overflow: "";
    background: #fff\9;
}
.left {
	float:left;
}
input[type=radio], input[type=checkbox] {
	vertical-align:middle;
	display:inline-block;
	margin-right:5px;
	height:auto !important;
}
.right {
	float:right;
}
.clear {
	clear:both;
	float:none;
}
.center {
	text-align:center;
}
.fix_width {
	margin:0 auto;
	width: 980px;
	min-width:980px;
}
#content {
	/* background:#fff; 
    padding:20px;s
   box-shadow:0 0 10px rgba(0,0,0,0.14); 
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.14); 
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.14); 
    -o-box-shadow:0 0 10px rgba(0,0,0,0.14); 
    -ms-box-shadow:0 0 10px rgba(0,0,0,0.14);
	width:96%;*/
	float:left;
	  margin: 0 0 0px 0;
	  padding: 45px 0;
	  width: 100%;
}
/*#content h2 {
	margin-bottom:10px;
	text-transform:uppercase;
	font-size:24px;
	color:#252525;
}*/
/******************* HEADER *******************/
.heder-top-right {
    float:left;
}
.phone_help 
{
    font-weight:bold;
    font-size:13px;
    color:#315379;
    background:url(../images/site/PhoneHelpline.png) no-repeat left center;
    padding-left:30px;
    padding:15px 0px 15px 30px;
}
.header-help-email
{
    padding: 8px 0px 8px 8px;   
    font-weight:bold;
    font-size:13px;
    color:#315379;
    background:url(../images/site/emilhelpline.png) no-repeat left center;
    
}
.mailto {
    
    padding-top:9px;
    padding-left:25px;
    padding-bottom:5px;
    padding-right:5px;
    vertical-align:middle;
}
.mailto  span{
padding-top:5px;   
}
.follow
{
    margin-top:2px;
    float:right
}

.facebok
{
    padding: 12px 3px 12px 12px;
    
    float:right;
    font-size:12px;
    background:url(../images/site/facebook.png) no-repeat left center;
    width:10px;
    margin-left:4px;
   
}


.google_play
{
    /*padding: 12px;
    font-size:12px;
    background:url(../images/site/topic_google_play.png) no-repeat left center;
    width:10px;
    margin-left:4px;*/
padding: 12px 3px 12px 12px;
    float: right;
    font-size: 12px;
    background: url(../images/site/topic_google_play.png) no-repeat left center;
    width: 10px;
    margin-left: 4px;
}


.google
{
    padding: 12px 3px 12px 12px;
    float:right;
    font-size:12px;
    background:url(../images/site/google.png) no-repeat left center;
    width:10px;
    margin-left:4px;
   }

.twet
{
    padding: 12px 3px 12px 12px;
    float:right;
    font-size:12px;
    background:url(../images/site/twet.png) no-repeat left center;
    width:10px;
    margin-left:4px;
   }


.facebok:hover
{
    padding: 12px 3px 12px 12px;
    
    font-size:12px;
    background:url(../images/site/facebook_hover.png) no-repeat left center;
    width:10px;
    margin-left:4px;       
}
.google:hover
{
    padding: 12px 3px 12px 12px;
    
    font-size:12px;
    background:url(../images/site/google_hover.png) no-repeat left center;
    width:10px;
    margin-left:4px;
   }
.twet:hover
{
     padding: 12px 3px 12px 12px;
   
    font-size:12px;
    background:url(../images/site/twet_hover.png) no-repeat left center;
    width:10px;
    margin-left:4px;
   }
.header-help-email a
{
 
}
.bborder
{
    background:url(../images/site/border_bg.png) ;
    height:2px;
    float:none;
    
    
}
.header-help
{
    text-align: right;
}
.email_help
{
    background:url(../images/site/PhoneHelpline.png) no-repeat left center;
    padding:15px 0px 15px 30px;
    
    border:1px solid;
}

.phone_help span 
{
    color:White;
    
}
#header {
	float: left;
  width: 100%;
}
.header {
   background-color: #83A5CB;
    border-top: 5px solid #6284aa;
    float: left;
    width: 100%;
    
}
.header-top {
  float: left;
  color: #fff;
  width:100%;
    padding: 7px 0;
}
.header-top .agt {
	float:left;
}
.header-top .agt li a {
	color:#fff;
	padding:0 0 0 22px;
	font-size: 16px;
	padding-right:15px !important;
}
.header-top .agt a {
	background:url(../images/site/lock.png) no-repeat left center;
	  padding: 0 0 0 20px;
}
.right {
	float:right;
}
.header-sub {
  float: left;
  width: 100%;

	background:#16385E;
}
.header_content {
	clear:both;
	padding:0px;
}
.header_content .logo {
	float:left;
	  width: 30%;
}
.help_line {
	text-align:right;
	font-size:14px;
	padding-top:0px;
	float:right;
    line-height:22px;
    color:#060000;
}
.help_line span {
	background:url(../images/site/phone.png) no-repeat left center;
	  padding: 0 0 0 20px;
}
.header-right ul {
	 float: right;
  width: 100%;
  text-align: right;
}
.header-right ul li {
	  background:#0094b2;
	  float:right;
	  padding:8px 0 8px 15px;
	  margin: 0 0px 0 0;
}
.header-right ul li.fb-cnt {
	margin:0;
}
.header-right ul li.fb-cnt a {
	background:url(../images/site/fb-icon.png) no-repeat left center;
	
}
.header-right ul li.play-store a {
	border-right:none;
	background:url(../images/site/play-store.png) no-repeat left center;
}
.header-right {
  float: right;
  color: #000;
    font-size: 15px;
	width: 70%;
}
.header-right-sub {
  
    width: 100%; 
}
.header-right-sub ul {
	text-align:left;
}
.header-right-sub ul li {
	float:left;
	padding:15px;
  border-top: none;
  border-bottom: none;
  position:relative;
}
.header-right-sub ul li:last-child {
	padding-right:0;
}

.header-right-sub ul li a:hover, .header-right-sub ul li.active a {
	/*border-bottom:2px solid #000;*/
background-color:#0B2442;	
	
}
.main-div1-text
{
    width:100%;
    text-align:center;
    color:#B1B1B1;
}
.main-div1-text p span
{
    color:#84A6CB;
}
.header-right-sub ul li:hover a, .header-right-sub ul li.active a {
	color:#FFF;
}
.header-right-sub ul li a {
	  /*padding:10px !important;*/
      padding:15px 10px 15px 10px !important;
      text-transform:uppercase;
	  line-height: 22px;
	  font-size:15px;
	  text-shadow:1px 2px 1px rgba(0, 0, 0, 0.22);
}
.full-cnt {
  float: left;
  width: 100%;
  background-color:white;
}
.bgcontent_inner
{
   padding-bottom:15px;
    margin-top:40px;
	background:#fff;
	float:left;
	width:100%;
	box-shadow: 0px 1px 7px #9B9B9B;
}.email span {
	background:url(../images/site/mail.png) no-repeat left center;
	padding:0 0 0 20px;
}
.nav {
	border-radius:0;
}
#header:before {
	background:#fff url(../images/site/nav-top.png) no-repeat top center;
	content:'';
	float:left;
	width:100%;
	height:7px;
}
#header:after {
	background:#fff url(../images/site/nav-bottom.png) no-repeat top center;
	content:'';
	float:left;
	width:100%;
	height:7px;
}
#header.header .nav {

}
#header .nav ul li {
	display:inline-block;
	text-align:center;
	padding:0 15px;
}
#header .nav ul li:last-child {
	background:none;
}
#header .nav ul li a {
	display:block;
	line-height:49px;
	color:#fff;
	font-size:17px;
   
    
}
#header .nav ul li a:hover, #header .nav ul li.active a {
	color:#fff;
    
}
#header .nav ul li:hover, #header .nav ul li.active {
	background:#cc4716;
	  box-shadow: 0px 0px 0 1px #f46d30;
}
.facebook
{
    background:#fff url(../images/site/facebook.png) no-repeat top center;
}
.main-div1
{
    
}
.main-div1 h1
{
    color: #83a5cb;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase
}
.main-div1 h3
{
    color:#9C9C9C
}
.cont_main
{
    background-color: White; width: 100%;
}

/******************* FOOTER *******************/
#footer {
	padding:20px 0;		
	font-size:14px;
    text-align:left;
	float: left;
  width: 100%;
}
.footer {
	  float:left;
	  width:100%;
}
.footer-main {
	float:left;
	width:100%;
	  background-color:#315379;
}
.ft-sub1 {
  float: left;
  width: 280px;
  padding:0 0 0 20px;
    margin: 8px 0 0;
}
.ft-sub2 {
    text-align: left;
    float: left;
}
.ft-sub2 ul li:first-child
{
    padding-left:0px !important ;
}
.ft-sub3 {
	  float: left;
  text-align: CENTER;
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  border-top: 1px dotted rgba(69, 81, 137, 0.99);
}
#footer h1 {
	line-height:normal;
	color:#f26a38;
	font-size:17px;
	font-weight:bold;
}
#footer ul li {
	display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0 3px;
  line-height: normal;
  border-right:1px solid #16385E;
}
#footer ul li:last-child {
	background:none;
    border:none;
}
#footer ul li a {
	  padding: 0 0px 0 0;
  line-height: normal;
  color: #fff;
  font-size:14px;
}
#footer ul li a:hover, #footer ul li.active a {
	color:white;
	
}

#footer p {
	color:#fff;
	margin:0;
	font-size:14px;
}
#footer a, .footer-bottom a {
	color:#bababa;
}
.footer-bottom {
  float: left;
  width: 100%;
  background-color: #121212;
  color: #fff;
  font-size:12px;
    padding: 10px 0;
}
.footer-main .fix_width {
	overflow:hidden;
}

.ft_us
{
    float:right;
    width:212px;
    background:url(../images/site/page_bg.jpg) no-repeat center;
    background-position-x:122px;

}
.ft_us .facebok
{
    padding: 12px 3px 12px 12px;
    
    font-size:12px;
    /*background:url(../images/site/facebook_hover.png) no-repeat left center;*/
    width:10px;
    margin-left:4px;       
}
.link
{
    float:right;
}
.googlepay
{
    
    float: left;
    height:38px;
    margin-top: -10px;
    padding: 5px 0px;
}

.footer-bottom p {
	margin:0;
	line-height:normal;
	
	font-size:13px;
}
.copyright {
  float: left;
}
.copyright a
{
    color:#83A5CB;

}
.host {
    color:#83A5CB;
  float: right;
}
.host a{color:#83A5CB;}

/******************* HOME PAGE *******************/

#MainDiv
{
    width:100%;
    float:left;
}
.banner-bg
{
    width:100%;
    float:left;
    background:url(../images/site/slider-bg.jpg)  repeat-x ;
    background-size:100% 100%;
   
}
.search
{
    width:370px;
    float:left;
    margin:30px 0px;
    background:#80878F;
    border-radius:3px 4px;

}
.form-main
{
    margin:0px 27px 27px 27px;
    float:left;
    
}
.searchbus
{
    width:100%;
}
.searchbus h3
{
    margin-bottom:25px;
    margin-top:25px;
    text-align:center;
    text-transform:uppercase;
    font-size:24px;
    font-weight:700;
    color:white;
}
.search-box
{
   width:315px;
   margin-bottom:15px;
   height:50px;
   background-color:#fff;
   /*line-height:50px;*/
   border:0px;
   border-radius:4px 4px !important;

}
.search-box select
{
    width:295px;
    border:0px;
    height:40px;
    padding:10px 10px 0px 10px;
    
    font-size:16px;
    background:url(../images/site/s-arrow.png) no-repeat  right center;
 border:0px;
   border-radius:4px 4px !important;
   
   
}
.search-box input
{
    width:295px;
    border:0px;
    height:30px;
    padding:10px 10px;
   font-size:16px;
   background:url(../images/site/cal.png) no-repeat  right 5%   center;
   border:0px;
   border-radius:4px 4px !important;
 
}

.search-box-btn
{
    background-color:#16385E;
   width:315px;
    height:60px;
     border:0px;
   border-radius:4px 4px !important;

}
.slider
{
    float:right;
    width:62%;
    margin:30px 0px;
}
.circle
{
    width:607px !important;
    text-align:center !important ;
    margin-top:50px;
    
}
.sub-cnt
{
    width:100%;
    float:left;
    background-color:white;
}
.welcome
{
width:100%;
float:left;
margin-top:25px;
text-align:center;
margin-bottom:25px;
}
.welcome h3
{
   margin-bottom:25px;
   color:#83A5CB;
   text-transform:uppercase;
   font-weight:700;
   font-size:24px;
}
.route
{
width:100%;
float:left;
height:280px;
background:#83A5CB;
margin-top:25px;
}
.topDist
{
    width:38%;
    float:left;
    height:280px;
    
}
.topimg
{
    width:100%;
    float:left;
    height:20px;
    background:url(../images/site/destination.png) no-repeat top;
    background-size:100% 100%;
    margin-top:-19px;
    margin-left:-19px;
}
.toplink
{
     width:334px;
    float:left;
    height:279px;
    background: #38618E ;
    
    color:white;
   
}
.toplink h3
{
   margin-bottom:25px;
   color:white;
   text-transform:uppercase;
   font-weight:700;
   font-size:24px;
   text-align:center;

}
.gallery
{
    width:62%;
    float:left;
    height:200px;
   
}
.gallery h2
{
    width:100%;
    height:43px;
    text-align:center;
    /*background:url(../images/site/gallery.png) no-repeat  center;
    background-position-y:-15px;*/
    margin-top:-19px;
}
.photo
{
    float:right;
    margin-top:20px;
}
.photo ul li
{
    display:inline-block;
    padding-left:13px;
}
.service
{
width:100%;
float:left;

text-align:center;
margin-top:25px;
}
.service h3
{
    margin-bottom:25px;
    text-transform:uppercase;
    color:#83A5CB;
    font-weight:700;
    font-size:24px;
}
.ser1
{
    float:left;
    width:48%;
    height:300px;
    background:url(../images/site/sevices.jpg ) no-repeat center;
    color:white;
}

.ser2
{
    float:right;
    width:48%;
    background:url(../images/site/sevices1.jpg ) no-repeat center;
    height:300px;
    color:white;
}
.ser1 h2 ,.ser2 h2
{
    font-size:18px;
    vertical-align:middle;
    border:1px solid white;
    border-radius:10px 10px;
    height:50px;
    background:rgba(0, 0, 0, 0.40);
    line-height:50px;
    font-weight:700;
    
   font-family:Arial, Helvetica, sans-serif;
    
    margin:125px 60px;
}
.ser1 h2:hover, .ser2 h2:hover
{
   background:rgba(222, 74, 31, 0.6);
   -webkit-transition:all 2s;
   font-family:Arial, Helvetica, sans-serif;
}
.card
{
    margin-top:25px;
}
.card h3
{
    margin-bottom:25px;
    color:#83A5CB;
    text-transform:uppercase;
    font-weight:700;
    font-size:24px;

}
.Contact
{
    width:100%;
    float:left;
   
    background:url(../images/site/footer-bg.jpg) repeat-x top #83a5cb; 
    margin-top:25px;
    height:295px;
   
}
.Contact h3
{
    margin-top:80px;
    color:white;
    text-transform:uppercase;
    font-weight:500;
    font-size:18px;
    text-align:left;
    margin-bottom:15px;
    

}
.cont1,.cont2,.cont3,.cont4
{
    width:20%;
    float:left;
    color:white;
    height:100px;
    margin-top:15px;
    text-transform:uppercase;
    
    padding-bottom:25px;
    font-size:13px;
}
.cont
{
    width:20%;
    float:left;
    color:white;
    font-size:13px;
    height:100px;
    margin-top:15px;
    text-transform:uppercase;
    padding-bottom:25px
}
.Contact ul li{margin-top:5px;}   
.sub-cnt-right {
	float: left;
   width: 630px;
  margin-right: 20px;
}
#banner {
	float:left;
	width:100%;
}
.sub-cnt-right h3, .route h3 {
	font-size:26px;
	color:white;
	line-height:normal;
	margin-bottom:10px;
}
.sub-cnt-right h3 span, .route h3 span {
	color:white;
}
.sub-cnt-right p {
	font-size:15px;
	margin-top:0;
	line-height:26px;
}
.route li {
	padding-bottom:10px;
}
.route a {
	font-size:15px;
	color:white;
	/*background:url(../images/site/round.png) no-repeat left top;*/
	/*padding-left:22px;*/
}
.read-more {
	color:#1a1d46;
	text-decoration:underline;
	font-style:italic;
	background:url(../images/site/plus.png) no-repeat left;
	padding-left:15px;
}
.laft_img
{
    background:url(../images/site/routeleft.png) no-repeat left;
    border: 1px solid;
    margin-top: -22px;
    position: absolute;
}
.small-bus-part {
  float: left;
  width: 100%;
} 
.small-bus-part li {
	float:left;
	margin:0 3px 0 0;
}
.small-bus-part li:last-child {
	margin:0;
}
.small-bus-part li img {
	border:2px solid #8c0101;
	width:210px;
}
#banner #slider {
     float: right;
  border: 5px solid #dbdbdb;
  width: 630px;
    background:#ebebeb; 
	  margin-bottom: 4px;  
}
#banner #slider1 {
     float: right;
  width: 100%;
    background:none; 
	margin-top:0px;
}
 
.search_form {
    background: rgba(119, 126, 134, 6) none repeat scroll 0 0;
    /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);*/
    border-radius: 2px;
    float: left;
    width: 300px;
    line-height: 50px;
    padding: 5px 22px 18px;;
}
.form-main {
    float: left;
    width: 85%;
    z-index:999999;
    position: relative;
}
.search-btn1 {
	width:136px;
	float:right;
}
.search-btn1 input {
	width:100%;
	background:#f96a0b;
	border:none;
	
	font-size:20px;
	color:#fff;
	height:53px;
	text-transform:uppercase;
}
.search-btn1 .submit:before {
	background:url(../images/site/search.png) no-repeat;
	
    content:'';								
	width:22px;
	height:22px;
	float:left;
	position:relative;
}
#ctl00_sitecontent_uplserach {
  float: left;
  width: 100%;
}
.search_form h3 {
    font-size: 23px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color:White;
    border-bottom:2px solid #93989E;
    line-height: 50px;
}

.search_bus {

  padding: 0px;
  margin-top: 12px;
  padding-bottom: 0;
}
.search_bus label {
	color:#666666;
	font-weight:normal;
	font-size:14px;
}
.search_form .search_bus div.select_box, .search_form .search_bus div.calender {
	margin-bottom:0px;
	
	width:160px;
	margin-right:6px;
}
div.calender.last {
	margin-right:0 !important;
}
.search_form label {
	display:block;
	  margin-bottom: 10px;
}
.search_form .search_bus input, .search_form .search_bus select {
    border-radius:3px;
	width:300px;
	height: 39px;
	
	color:black;
	padding:0 0 0 10px;
    border:1px solid rgba(0, 0, 0, 0.33);
    font-size: 14px;
    
}
.search_form .search_bus input.date {
	background:url(../images/site/cal.png) no-repeat 95% center #fff;
	color:black;
	line-height:30px;
	width:180%;
}
.search_form .search_bus input.submit, .search-btn {
    
	
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    height: 31px;
    line-height: 31px;
    cursor: pointer;
    padding: 0 12px;
    background: #16385e;
    background-size: 100% 100%;
  
}
.search_form .search_bus input.submit {
  
	  padding: 0 18px;
	  font-size:18px;
	  height:35px;
	  font-weight:500;
}

#content h2.title b {
	color:#252525;
}


.main-div1 {
	float:left;
	width:100%;
	margin:45px 0;
	text-align:center;
}
#content .hot_routes {
	
  width: 310px;
  float: left;
  box-shadow: inset 0px 0px 24px 0px rgba(120, 118, 118, 0.75);
  -moz-box-shadow: inset 0px 0px 24px 0px rgba(120, 118, 118, 0.75);
  -webkit-box-shadow: inset 0px 0px 24px 0px rgba(120, 118, 118, 0.75);
  border: 1px solid #b7bbca;  
}
#content .hot_routes.last {
	margin-right:0;
}
.hot1 {
  float: left;
  width: 100%;
  padding: 0px;
}
.hot1 h3.title {
	  color: #fff;
  font-size: 22px;
  background: rgb(179,105,105);
  background: -moz-linear-gradient(top, rgba(179,105,105,1) 0%, rgba(149,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(179,105,105,1)), color-stop(100%,rgba(149,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(179,105,105,1) 0%,rgba(149,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(179,105,105,1) 0%,rgba(149,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(179,105,105,1) 0%,rgba(149,0,0,1) 100%);
  background: linear-gradient(to top, rgba(179,105,105,1) 0%,rgba(149,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b36969', endColorstr='#950000',GradientType=0 );
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 0px;
  padding: 7px 0 7px 18px;
  position: relative;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.75);
  border: 4px solid #bfbfbf;
  border-radius:0;
}
.box-main {
  float: left;
  width: 100%;
    margin:15px 0 10px 0;
}
h2.box-title {
	  font-size: 16px;
  padding-left: 12px;
  /*background:url(../images/site/title-bt.png) repeat-x bottom left;*/
    line-height: 42px;
	  
  font-weight: 600;
}
.box {
  float: left;
  width: 24%;
  background-color: #fff;
  border: 1px solid #e3dede;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14);
    margin-right: 10px;
	  min-height: 192px;
}
.box .left img {
	text-align:center;
}
.box.last {
	margin-right:0;
}
.box-sub p {
	margin:0;
}
.box-sub {
  float: left;
  padding: 11px 9px;
  width: 92%;
}
.bx-sub {
	padding-left:10px;
	width: 78%;
	word-break:break-all;
}
.box-sub .left {
	float:none;
	text-align:center;
	width:100%;
	padding-left:0;
}
.left.bx-sub .btns {
	float:none;
}
.btns {
	margin-top: 8px;
  float: left;
background: rgba(174,176,177,1);
  background: -moz-linear-gradient(top, rgba(174,176,177,1) 0%, rgba(157,163,167,1) 50%, rgba(150,150,150,1) 51%, rgba(133,136,137,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(174,176,177,1)), color-stop(50%, rgba(157,163,167,1)), color-stop(51%, rgba(150,150,150,1)), color-stop(100%, rgba(133,136,137,1)));
  background: -webkit-linear-gradient(top, rgba(174,176,177,1) 0%, rgba(157,163,167,1) 50%, rgba(150,150,150,1) 51%, rgba(133,136,137,1) 100%);
  background: -o-linear-gradient(top, rgba(174,176,177,1) 0%, rgba(157,163,167,1) 50%, rgba(150,150,150,1) 51%, rgba(133,136,137,1) 100%);
  background: -ms-linear-gradient(top, rgba(174,176,177,1) 0%, rgba(157,163,167,1) 50%, rgba(150,150,150,1) 51%, rgba(133,136,137,1) 100%);
  background: linear-gradient(to bottom, rgba(174,176,177,1) 0%, rgba(157,163,167,1) 50%, rgba(150,150,150,1) 51%, rgba(133,136,137,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb0b1', endColorstr='#858889', GradientType=0 );
  color: #fff;
  text-transform: uppercase;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 3px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
	  
}
#ieslider {
	margin:15px 0;
}
#content .hot_routes ul {
	padding:15px 0;
	float:left;
	width:100%;
}
#content .hot_routes li {
	margin-bottom:10px;
	padding-left:20px;
	line-height:20px;
}
#content .hot_routes li p {
	margin:0;
	color:#6b3809;
	line-height:normal;
}
#content .hot_routes li a {
	color:#666666;
	  font-size: 14px;
	  font-weight:600;
}
#content .intro_txt {
	float: left;
  width: 66%;
  margin-top: 25px;
  padding: 0 0 0 20px;
}
h2.title {
     font-weight: normal;
  color: #2b2c2b;
  float: left;
  width: 100%;
  padding-bottom: 20px;
  line-height: normal;
  background: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding-left: 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 16px;
  
}
h2.title span {
	background:url(../images/site/titile-bt.png) no-repeat left bottom;
	position: relative;
  top: 3px;
}
#content .intro_sec {
    /*padding:0 10px;
    border:1px solid #ccc;
    margin-top:1px;*/
}
#content .banner {
	margin-top:10px;
	float:left;
	width:100%;
	text-align:center;
}
#content a.more {
	color:#572509;
	font-weight:600;
}
.ajax__calendar_container TABLE div {
	/*margin:0px !important*/
}
/*AutoComplete flyout */
.autocomplete_completionListElement {
	border:inset 1px #C5DFF6;
	padding:0px;
	list-style:none;
	margin:0px;
	height:auto;
	overflow:auto;
	width:150px;
	
	color:#195688;
	font-weight:bold;
	background:#F9F9F9;
}
.autocomplete_completionListElementFromTo {
	border:inset 1px #CD1434;
	padding:0px;
	list-style:none;
	margin:0px;
	height:auto;
	overflow:auto;
	width:150px !important;
	
	color:#333333;
	font-weight:bold;
	background:silver;
}
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem {
	background:#F7F3F7;
	border-bottom:1px solid #CCCCCC;
	padding:5px;
	font-weight:normal;
	list-style:none;
	color:#333333;
	
	font-size:13px;
	font-weight:bold;
}
/* AutoComplete item */
.autocomplete_listItem {
	border-bottom:1px solid #FFFFFF;
	padding:5px;
	font-weight:normal;
	list-style:none;
	
	font-size:13px;
	font-weight:normal;
}
.av-rts {
  float: left;
  width: 82%;
}
.src-btn {
  float: right;
}
.photo_text
{
    margin-top: -154px;
    margin-left:179px;
    border-radius: 5px;
    border:1px solid #fff;
    position: absolute;
    text-align: center;
    }
 .photo_text1 
 {
     margin-top: -154px;
    margin-left:179px;
    border-radius: 5px;
    border:1px solid #fff;
    position: absolute;
    text-align: center;
     }


/***********************************************************/

@-moz-document domain(support.mozilla.org) {
 textarea {  
  resize: none; /* disables resizability */  
 }
}
.main-left {
  float: right;
  width: 26%;
}
.seat-main {
  float: left;
  width: 100%;
}
.main_right {
  float: right;
  width: 25%;
}
.middle-side-column {
  float: right;
  width: 48%;
}
.middle-side-column .middle {
  margin: 0 auto;
  width: 90%;
  float: none;
  overflow: hidden;
}
/*Seat selaction*/
.twise-trip.Return_SelectGander {
  width: 100% !important;
  margin: 0 !important;
}
.Return_SelectGander input {
  width: 100% !important;
}
.Return_SelectGander .cldr-inp-val1 {
  width: 96% !important;
}
.Return_SelectGander .cldr-inp-val {
  width: 32px !important;
}
.Return_SelectGander #ctl00_sitecontent_chkIAgree {
  width: auto !important;
  margin-left: 0;
}
.Return_SelectGander .search-btn {
  width: auto !important;
}
.twise-trip {
  width: 26% !important;
  margin: -365px 0 0;
}
.left-side-tab1 {
  float: left;
  width: 100%;
}
.NewClass_SingleTrip {
  display: none;
}
.full-width {
	clear:both;
}
.navigation {
	text-align: center;
    width: 100%;
	float: left;
	  position: relative;
  z-index: 9999;
}
.contactus h3 {
	color: #980A0A;
  font-size: 18px;
  margin: 5px 0 0;
  float: left;
  width: 100%;
  font-weight: 600;
}
.half {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
}

.mainhalf {
    float:left;
    width: 100%;
}
.mainhalf h3 {
    color: #0094B2;
  font-size: 18px;
  margin: 5px 0 0;
  float: left;
  width: 100%;
  font-weight: 600;
}
.half p b{
  
}

#ctl00_sitecontent_uplbuschartred {
	padding-left:15px;
}
.inner-imgs {
	float:right;
}
.abt {
	  margin: 10px 0 0 0;
  float: left;
  padding: 0 15px;
}
.abt-main {
	padding:0;
	float:left;
}
.inner-imgs-left {
	float:left;
	margin-right:10px;
}
.canc {
	clear:both;
}
.about {
  float: left;
}
.gv_galleryWrap {
	float:left;
}

.main_Testimonials {
    float: left;
  width: 98%;
  border: 1px solid #818181;
  margin: 5px 0;
  padding: 10px;
}
.bus-track {
  background: linear-gradient(to bottom, rgba(93,217,242,1) 0%, rgba(16,187,221,1) 46%, rgba(12,166,197,1) 49%, rgba(0,148,178,1) 100%);
	color:#fff;
	font-weight:bold;
	box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.12);
	  font-size: 13px;
  float: left;
  padding: 8px 5px;
  border-radius: 5px;
}
.bus-track span {
	background:url(../images/site/track.png) no-repeat left center;
	 padding: 5px 0 5px 30px;
}
@media only screen and (max-width:990px) and (min-width:768px) {
img {
	max-width:100%;
}
.fix_width {
	width: 980px;
	margin: 0 2%;
}
#header .nav ul li a {
	font-size:13px;
}
#content #banner {width:63%;   overflow: hidden;}
.search_form {
	  width: 94%;
	  padding:8px 22px;
}
.hot1 {
	 padding: 0;
}
.sub-cnt-right {
	width:63%;
}
.sub-cnt-right p {
	font-size:14px;
}
.small-bus-part li img {
	width: 98%;
}
.small-bus-part li {
	  width: 32%;
}
#content .hot_routes li a {
	  font-size: 12px;
}
.sub-cnt {
	width:33%;
}
#ctl00_sitecontent_uplserach {
	width:100%;
	min-height: inherit;
}
.search_form h3:after {
	  background:none;       
}
#banner #slider {
	width:98%;
}
.search_bus {
	padding:0px;
	padding-bottom: 0;
	width:84%;
	margin-top:0;
}
#banner #slider1 {
	  width: 100%;
	  border:none;background:none;
}

#header .nav ul li {
	  padding: 0 9px; 	
}
#banner:after {
	background:none;
}
.search_form h3 {
	  font-size: 15px;
	width:auto;	
	line-height:32px; 
	font-weight:500; 
}
.search_form .search_bus div.select_box, .search_form .search_bus div.calender {
	  margin-bottom: 0px;
	width:24%;
	margin-right:7px;
}
.search-btn1 {
	    width: 100%;
    float: left;
}
.search-btn1 input {
	height:inherit;
	line-height: 35px;
}
.box {
	width:48%;
	 min-height: 200px;
	  margin-right: 1%;
	    margin-top: 10px;
}
.bx-sub {
	width:72%;
	padding-left: 7px;
	word-break: inherit;
}
#header .header_content .logo {
	width: 50%;
}
#header.header .nav {
	  bottom: -85px;
}
#content .intro_txt {
	width: 62%;
	  padding: 0;
	    overflow: hidden;
}
#content .hot_routes {
	  width: 35%;
	    margin-right: 18px;
}
#footer ul li a {
	  padding: 0 0px;
	    font-size: 13px;
}
.ft-sub1, .ft-sub2, .ft-sub3 {
	padding:0;
}
.w800 {
  width: 100% !important;
  padding:0 !important;
}
.gv_galleryWrap {
	WIDTH: 98% !important; 	
}
.gv_gallery {
	  width: 100% !important;
}
textarea {
	  resize: none;
}
.av-rts {
	width:75%;
}
.av-rts span {
	float:left;
	width:100%;
	text-align:left;
}
.src-btn {
  margin: 20px 0 0;
}

/*seat-selaction part*/
.main-left {
  width: 27%;
}
.main-left table {
  font-weight: normal !important;
  width: 100%;
}
.main_right .right-side-column, .main_right right, .journey-info, .journey-info table {
  float: left;
  width: 100%;
  font-size: 13px;
}
.main-left select, .main-left input, .twise-trip input {
  width: 100% !important;
}
.cldr-inp.cldr-inp-val1 {
  width: 82% !important;
}
.main-left select, .main-left input, .twise-trip input {
  width: 100% !important;
}
.left-side-tab1 .cldr-inp-val {
  width: 26px !important;
}
.Return_SelectGander .cldr-inp.cldr-inp-val1 {
  width: 95% !important;
}
.twise-trip .search-btn {
  width: 100%;
  margin-bottom: 5px;
}
.search_form .search_bus input.submit, .search-btn {
  height: 28px;
  font-size: 15px;
  line-height: inherit;
}
#ctl00_sitecontent_chkIAgree {
  width: auto !important;
  margin-left: 0;
}
.ChartDisplay {
	width:100%;
}
#content {
	  width: 100%;
  padding: 0%;
}
.tableCell {
	  width: 36px;
      border: none !important;
}
.header-right-sub ul li {
	  padding: 8px 6px;
}
.header-right-sub ul li a {
	font-size:13px;
	  line-height: 40px;
}
.banner_bg {
  margin: 20px 0 0;
}
.search_form label {
	margin-bottom:5px;
}
.search_form .search_bus input, .search_form .search_bus select {
	height:32px;
	line-height:31px;
}
.ajax__calendar .ajax__calendar_container {
	z-index:999999;
}
.pagecap h2 {
	  padding-left: 1%;
}
.cancellation table {
	width:100% !important;
	clear:both;
}
.canc {
	float:left;
	clear:both;
}
.logo {
	width:140px;
}
.header-top {
	  width: 100%;
}
.header-right-sub {
	width:100%;
}
.nav {
	margin:20px 0 0;
}
}

.ajax__validatorcallout
{
    z-index:99999;
}

::-webkit-input-placeholder {
   
}

:-moz-placeholder { /* Firefox 18- */
   color: #f96a0b;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:white;  
}

:-ms-input-placeholder {  
   color: #f96a0b;  
}
div.img {
    margin: 20px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}	

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #0000ff;
}

div.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}